<header class="site-header" style="-webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center;">


  <div class="wrapper" >


<a class="site-title" style="color:white;z-index:2;position:relative;font-size:3em" href="index.html"> Home</a>
<!--
    <a class="site-title" href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a>
-->


    <nav class="site-nav">
  <a href="#" onclick="openNav()" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>
<div id="myNav" class="overlay" >

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">

<table style=" margin-left:auto; 
    margin-right:auto;">
  <tr>
    <th><a onclick="closeNav()" href="menu.html#tsa"style="font-size: 3em;
    color: #818181;">TSA Chapter</a></th>
    <th><a onclick="closeNav()" href="menu.html#cteprogram" style="font-size: 3em;
    color: #818181;">CTE Program</a></th>
    <th><a onclick="closeNav()"  href="index.html#myDiv" id="myButton" style="font-size: 3em;
    color: #818181;">Design Brief</a></th>
 <th><a onclick="closeNav()"  id="con" style="font-size: 3em;
    color: #818181;">Contact</a></th>
 <th><a onclick="closeNav()"  id="about" style="font-size: 3em;
    color: #818181;">About</a></th>
  </tr>
  <tr>
    <td><a href="aboutch.html">About our Chapter</td>
    <td>Classes and Courses</td>
<td  id="contact" style="font-size: 3em;
    color: #818181; text-align: center;"><a href="contact.html" style="color: #818181; "><strong>Contact<strong></a></td>
   
  </tr>
  <tr>
    <td><a href="motto.html">Mission,Motto and Creed</a></td>
    <td><a href="gallery.html">Gallery</a></td>
    <td  style="font-size: 3em;
    color: #818181; text-align: center;"><a href="about.html"  style="color: #818181; "><strong>About</strong></a></td>
    
  </tr>
  <tr>
    <td>Events</td>
    <td>Projects</td>
   
  </tr>
  <tr>
    <td>Awards</td>
    <td>Extracurricular Activities</td>
    <td></td>
</tr>
<tr>
    <td>Community Service</td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><a href="officers.html">Officers</a></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><a href="teamphotos.html">Team Photos</a></td>
    <td></td>
    <td></td>
</tr>
</table>
</div>
  </div>


<script>

function openNav() {
    document.getElementById("myNav").style.height = "100vh";
 
}

function closeNav() {
    document.getElementById("myNav").style.height = "0%";
}

</script>

     <div class="trigger" style="padding-top:0">
        <a  class="site-title" onclick="openNav()" style="font-size:3em;margin-bottom: 0;z-index:1;position:relative;color:white;padding-top:0"> Menu</a>
<!--{% assign pages=site.pages | where:"lang", page.lang %}
        {% for my_page in pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}-->
      </div> 
    </nav>

  </div>
<div class="wrapper" style="text-align: right; line-height: 2em;">
  {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
  {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

  {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
  {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
</div>
<div class="intro" style="padding:1.5em;" >
<div class="wrapper">
<!-- style="width:60vw;"-->
<h1 class="baslık" style="top:50%;text-shadow:1.5px 1.5px black"><a href="{{ site.baseurl }}/{{ site.index[page.lang] }}">{{ site.title[page.lang] }}</a></h1>
<p style="text-align:center;font-weight:bold;text-shadow: 1px 1px black">
Learning to Lead in a Technical World

<a href="#myDiv" id="myButton" style="margin-left: auto;
    margin-right: auto; display: block;"><img src="http://codearmy.com/wp-content/uploads/2016/09/Scroll-Down-Icon-grey.png" height="42" width="42"></a>
</p>

</div>

</div>

<a href="#top" id="bottom" style="position:fixed;"><img  src="https://cdn3.iconfinder.com/data/icons/common-4/24/ui-22-512.png" height="42" width="42"></a>

<script>
$('a[href^="#"]').on('click', function(event) {

    var target = $(this.getAttribute('href'));

    if( target.length ) {
        event.preventDefault();
        $('html, body').stop().animate({
            scrollTop: target.offset().top
        }, 1000);
    }

});</script>

<script>
$('#myButton').click(function() {
   $.scrollTo($('#myDiv'), 1000);
});
</script>
</header>



